@{
    ViewBag.Title = "News";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}

<div class="newspost">
    <h3>Site Requests/Info</h3>
    <p>
        If you've got any requests or suggestions feel free to message me on the discord server or on <a href='http://reddit.com/u/BJToot'>Reddit.</a> If you've got front end web dev skills and want to help make this not look like a turd. :)
    </p>
</div>

<h3>What's new in 1.2.0</h3>
<ol class="round">
    <li><h4>Notable changes:</h4></li>
    <li>New heroes are here! Unlock new Magical heroes Kuha and Miho!</li>
    <li>New party size buff can be bought from the shop!</li>
    <li>A second chest unlocker can be hired from the shop!</li>
    <li>Added many new quests and new levels to existing ones!</li>
    <li><h4>Other notable changes:</h4></li>
    <li>Better feedback on enemy dodging an attack. (New animation)</li>
    <li>Fixed Nightmare dungeons missing from some daily quests</li>
    <li><h4>Balance Changes:</h4></li>
    <li>Frozen allies and enemies cannot dodge.</li>
    <li>Freeze and stun can't be cast on the enemy again before they enemy has had a turn.</li>
    <li>Most six star heroes party sizes have been reduced by 1-3 points.</li>
    <li>Arena trophies gained in Platinum, Diamond, and Master leagues have been increased.</li>
    <li>Between arena tournaments from Diamond II and above you will only drop back to Diamond III, from Platinum II to Diamond III you will only drop back to Platinum III.</li>
    <li>Imp's 'Burn' skill cooldown has been increased by 2 turns.</li>
    <li>Adela's Earth Shield skill multiplier has been reduced by 5 for all evolutions.</li>
    <li>Minotaur's armored trait has been changed to magical.</li>
    <li>Eumenid traits changed from Melee, Flying to Spell Caster, Flying, Magical.</li>
    <li>Flame Soldier and Flame Commander now have the magical trait.</li>
    <li>REC stat's efficiency has been increased. REC gives more healing from skills after 500 REC.</li>
</ol>

<h3>BattleJack 1.1.1 is here!</h3>
<ol class="round">
    <li><h4>Notable changes:</h4></li>
    <li>New 6-star evolutions of dragon heroes: Raziel, Kea, Siva, Mali, and Zere!</li>
    <li>New guild types: Open, Closed, and Request only.</li>
    <li>Send join requests to any guild with guild ID.</li>
    <li>Minimum rank option for guilds.</li>
    <li>New guild creation screen.</li>
    <li>Improvements on the Arena Trophy bar and trophy count fixed to show the right amount.</li>
    <li>Improvements on the Rune crafting UI and Rune enchanting UI.</li>
    <li>Lots of other smaller fixes.</li>
</ol>
